[Desktop Entry]
Name=QQ
Exec=env DESKTOPINTEGRATION=false XMODIFIERS=@im=fcitx /usr/bin/linuxqq --no-sandbox --ozone-platform=wayland --enable-wayland-ime --disable-vulkan %U
Terminal=false
Type=Application
Icon=/usr/share/icons/linuxqq.png
StartupWMClass=QQ
X-AppImage-Version=49738
Categories=Network;
Comment=QQ
